<h1>ChatGPT</h1>
<%= current_user.id %>

<table class='table table-hover table-inverse'>
    <tbody>
        <% @conversations.each do |conv| %>
            <tr>
            <td><%= link_to conv.title, conversation_path(conv.id) %></td>
            </tr>
        <% end %>
        <%= form_with model:@new_conversation do |k| %>
            <tr>
            <td>
                <%= k.text_field :title, class: 'form-control' %>
                <%= k.submit class: 'btn btn-primary' %>
            </td>
            </tr>
        <% end %>
    </tbody>
</table>