<div class='container'>
  <h2>ChatGPT</h2>
  <%= form_with model:@gpt do |f| %>
    <div class='row'>
      <div class='col-md-3'>
        <div class="form-group">
          <h4>System Prompt</h4>
          <%= f.text_area :system, value: @pre_system,class: 'form-control' %>
          <%= link_to "会話履歴消去", gpts_destroy_all_path, data: { turbo_method: :delete, turbo_confirm: "GPTとの会話履歴が全て削除されます" }, class: 'm-3 btn btn-danger'%>
        </div>
      </div>
      <div class='col-md-8 offset-md-1'>
        <table class='table table-hover table-inverse'>
          <tbody>
          <% @gpts.each do |gpt| %>
            <tr>
              <td><button type="button" class="btn btn-secondary">User</button></td>
              <td><%= gpt.prompt %></td>
            </tr>
            <tr>
              <td><button type="button" class="btn btn-outline-dark">Assistant</button></td>
              <td><%= gpt.response %></td>
            </tr>
            <td><%= gpt.messages %></td>
          <% end %>
            <tr>
              <td>
                <div class="form-group">
                  <button type="button" class="btn btn-secondary">User</button>
                </div>
              </td>
              <td>
                <%= f.text_area :prompt, class: 'form-control' %>
                <%= f.submit class: 'btn btn-success' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>