<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <li class="px-4">
      <%= link_to "GAIs", users_path, class:"text-white text-decoration-none"%>
    </li>
    
    <ul class="navbar-nav ms-auto d-flex flex-row">
      <li class="px-4">
        <%= link_to root_path, class:"text-white text-decoration-none" do %>
          <i class="fa-solid fa-feather-pointed"></i>
          <div class="row smaller-text">リリースノート</div>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="px-3">
          <div class="text-white px-1"><%= current_user.email %></div>
        </li>
        <li class="px-3">
          <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, class:"text-white text-decoration-none" do %>
            <i class="fa-solid fa-right-from-bracket"></i>
            <div class="row smaller-text">ログアウト</div>
          <% end %>
        </li>
      <% else %>
        <li class="px-3">
          <%= link_to new_user_session_path, class:"text-white text-decoration-none" do%>
            <i class="fa-solid fa-right-to-bracket"></i>
            <div class="row smaller-text">ログイン</div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
</header>
